* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

    /* colors */
    .flint {
        color: #69625c;
    }
    /* END colors */

body {
    font-size: 20px;
}

.ms-wrapper {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

.separator {
    width: 250px;
    height: 4px;
    margin: 20px 0;
    background-color: #ae8652;
}

.ms-button {
    margin: 20px 0;
    padding: 10px 30px;
    border: 3px solid #ae8652;
    font-family: 'Khula',
    sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ae8652;
    cursor: pointer;
    display: inline-block;
}

section {
    text-align: center;
}

h1,
section > h2 {
    font-family: 'Imbue', serif;
    text-transform: capitalize;
}

h1 {
    font-size: 6em;
    font-weight: 700;
    color: white;
}

section > h2 {
    font-size: 4em;
    font-weight: 700;
    color: #b0b0b0;
}

section > h5 {
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ae8652;
}

/* END utility */

/* header */

header {
    width: 100%;
    height: 750px;
    padding-top: 20px;
    background-image: url(../img/avadabarbers-homepage-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    /* nav */
    nav > ul {
        display: flex;
        justify-content: space-between;
    }
    
    nav,
    nav img {
        height: 70px;
    }
    nav li {
        display: inline-block;
    }
    nav .header-logo {
        width: 30%;
    }
    nav .menu-items {
        width: 70%;
        font-size: 20px;
        color: white;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav .menu-items i {
        margin-left: 20px;
        cursor: pointer;
    }
    
    /* END nav */

    /* hero */
    .ms-hero {
        width: 100%;
        height: calc(750px - 70px);
        display: flex;
    }

    .ms-hero > .ms-hero-left,
    .ms-hero > .ms-hero-right {
        width: 50%;
        height: 100%;
        display: flex;
    }

    .ms-hero > .ms-hero-left {
        flex-direction: column;
        justify-content: center;
    }
    .ms-hero > .ms-hero-left > p {
        font-family: 'Mukta', sans-serif;
        font-size: 1.2em;
        font-stretch: expanded;
        text-transform: capitalize;
    }
    /* END hero */

/* END header */

/* main */

    /* section AWARD */
    section.award {
        width: 100%;
        height: 440px;
        padding-top: 100px;
        background-image: url(../img/avadabarbers-about-introbackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
    }
        /* gestione triangolo bianco tra section award e services */
        /* NOTA: mio schermo 14'', le misure fisse non si adattano a schermi diversi */
        section.award:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 80px solid white;
            border-left: 760px solid transparent;
            border-right: 760px solid transparent;    
        }
    /* END section AWARD */
    
    /* section SERVICES */
    section.services {
        width: 100%;
        padding-top: 20px;
    }
    /* END section SERVICES */

    /* section PRODUCTS */
    /* END section PRODUCTS */

    /* section REVIEWS */
    /* END section REVIEWS */

    /* section RECENT-BLOG-POSTS */
    /* END section RECENT-BLOG-POSTS */

/* END main */

/* footer */

footer {
    width: 100%;
}

/* END footer */

/* DEBUG */

.debug {
    border: 2px solid orangered;
}