* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

body {
    font-size: 20px;
}

.ms-wrapper {
    width: 80%;
    margin: 0 auto;
}

    /* margins */
    .margin-20-0 {
        margin: 20px 0;
    }
    /* END margins */

    /* colors */
    .product-price {
        color: #ae8652;
    }
    .ms-button-driftwood {
        border-color: #ae8652;
        color: #ae8652;
    }
        /* button in hover */
        .ms-button-driftwood:hover {
            border-color: #65401e;
            color: #65401e;
        }
        /* END button in hover */
    .background-driftwood {
        background-color: #ae8652;
    }
    .background-ebb {
        background-color: #eae8e6;
    }
    /* END colors */

    /* flex */
    .flex {
        display: flex;
    }
    .centered {
        justify-content: center;
    }
    .space-between {
        justify-content: space-between;
    }
    .space-around {
        justify-content: space-around;
    }
    .flex-end {
        justify-content: flex-end;
    }
    .align-center {
        align-items: center;
    }
    .flex-column {
        flex-direction: column;
    }
    /* END flex */

    /* button */
    .ms-button {
        padding: 10px 30px;
        border: 3px solid;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
    }
    .ms-button-special {
        border: none;
    }
    /* END button */

    /* fonts */
    h1,
    h2,
    h3,
    h4 {
        font-family: 'Abril Fatface', cursive;
    }
    
    h5,
    h6,
    p
    .footer-address > li {
        font-family: 'Lato', sans-serif;   
    }
    /* END fonts */

li {
    list-style: none;
}

.separator {
    width: 250px;
    height: 4px;
}

section {
    text-align: center;
}


h1,
h2 {
    text-transform: capitalize;
}

h1 {
    font-size: 4.6em;
    font-weight: lighter;
    color: #dddddd;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    color: #b0b0b0;
    margin: 5px 0;
}

h4 {
    margin: 20px 0;
    font-size: 1.6em;
    font-weight: lighter;
    text-transform: capitalize;
    color: #ae8652;
}

h5 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #ae8652;
}

h6 {
    font-style: italic;
    text-transform: capitalize;
    color: #ae8652;
}

p {
    font-size: 0.9em;
    color: #505050;
}

/* END utility */

/* header */

header {
    width: 100%;
    height: 750px;
    padding-top: 20px;
    background-image: url(../img/avadabarbers-homepage-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    /* nav */    
    nav,
    nav img {
        height: 70px;
        cursor: pointer;
    }
    nav li {
        display: inline-block;
    }
    nav .header-logo {
        width: 30%;
    }
    nav .menu-items {
        width: 70%;
        font-size: 20px;
        color: white;
        text-align: right;
    }
    nav .menu-items i {
        margin-left: 20px;
        cursor: pointer;
    }
    nav .menu-items i:hover {
        color: #ae8652;
    }
    
    /* END nav */

    /* hero */
    .ms-hero {
        width: 100%;
        height: calc(750px - 70px);
    }

    .ms-hero > .ms-hero-left,
    .ms-hero > .ms-hero-right {
        width: 50%;
        height: 100%;
    }

    .ms-hero > .ms-hero-left > p {
        font-size: 1.2em;
        font-stretch: expanded;
        text-transform: capitalize;
    }
    /* END hero */

/* END header */

/* main */

    /* section AWARD */
    section.award {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 150px;
        background-image: url(../img/avadabarbers-about-introbackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
    }
        /* gestione triangolo bianco tra section award e services */
        section.award:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 80px solid white;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;    
        }
    /* END section AWARD */
    
    /* section SERVICES */
    section.services {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 150px;
        position: relative;
    }

        /* gestione services cards */
        .services-card {
            padding: 40px;
        }
        .services-card > img {
            height: 100px;
        }
        .services-card > p {
            font-stretch: expanded;
            color: #88928f;
        }
        /* END gestione services cards */

        /* gestione triangolo nero tra section services e products */
        section.services:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 80px solid #111110;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
        }
    /* END section SERVICES */

    /* section PRODUCTS */
    section.products {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 150px;
        background-image: url(../img/avadabarbers-reviewsbackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
    }
    section.products > .products-container {
        margin-bottom: 20px;
    }
        /* gestione product cards */
        .product-card > img {
            width: 90%;
        }
        /* END gestione product cards */

    section.products > .months-featured-product {
        width: 900px;
        background-color: #111110;
        border-top: 3px solid #ae8652;
        position: absolute;
        bottom: calc(50px - 300px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .months-featured-product-img {
        width: auto;
        height: 100%;
        background-image: url(../img/avadabarbers-cta-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .months-featured-product-img > img {
        width: 100%;
    }

    .months-featured-product-text {
        width: calc(100% - 300px);
        height: 100%;
        padding: 40px;
        display: inline-block;
        text-align: left;
    }
    .months-featured-product-text > p {
        margin-top: 20px;
        color: #88928f;
    }
    .months-featured-product-text > .ms-button {
        margin-bottom: 0;
    }
    /* END section PRODUCTS */

    /* section REVIEWS */
    section.reviews {
        padding-top: calc((300px - 50px) + 100px);
        position: relative;
    }
        /* gestione reviews cards */
        .reviews-card {
            padding: 20px;
        }
        .reviews-card > p {
            text-align: center;
            margin-bottom: 20px;
        }
        .reviews-card > img {
            width: 30%;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        /* END gestione reviews cards */

        /* gestione triangolo bianco tra section reviews e recent blog posts */
        section.reviews:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -80px;
            width: 0;
            height: 0;
            border-top: 80px solid white;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
        }

    /* END section REVIEWS */

    /* section RECENT-BLOG-POSTS */
    section.recent-blog-posts {
        padding-top: calc(80px + 100px);
        padding-bottom: 100px;
    }

    section.recent-blog-posts .recent-post-card {
        margin-top: 20px;
        padding: 0 20px;
    }

        /* gestione recent post cards */
        .recent-post-card > img {
            width: 100%;
        }
        .recent-post-card > p {
            text-align: center;
            margin-bottom: 20px;
        }
        /* END gestione recent post cards */

    /* END section RECENT-BLOG-POSTS */

/* END main */

/* footer */

footer {
    width: 100%;
}

footer > .main-footer {
    background-color: #111110;
    color: #505050;
    text-align: center;
    padding: 80px 0;
}
.main-footer img {
    width: 80%;
}
.main-footer .button-container {
    margin-top: 20px;
}

#footerLogo {
    width: 60%;
    margin-bottom: 40px;
}

.footer-center > .social-icons i {
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.footer-center>.social-icons i:hover {
    color: #ae8652;
}

footer > .copyright {
    background-color: #191817;
    color: #505050;
    text-align: center;
    padding: 20px 0;
}

/* END footer */

/* elementi FIXED */

#chevron-to-top {
    width: 40px;
    height: 30px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-top: 5px;
    cursor: pointer;
    position: fixed;
    right: 100px;
    bottom: 0;
}

/* END elementi FIXED */